___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
ecom = pd.read_csv('data.csv',encoding= 'unicode_escape')
ecom

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

**Check the head of the DataFrame.**

In [ ]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

** Show the statistical measurements of ecom dataset **

In [ ]:
ecom.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

** What is the average Purchase Price? **

In [ ]:
ecom.UnitPrice.mean()

4.611113626083471

** What were the highest and lowest purchase prices? **

In [ ]:
ecom.UnitPrice.max()

38970.0

In [ ]:
ecom.UnitPrice.min()

-11062.06

** List the country names and number of records belongs to each country **

In [ ]:
ecom.Country.value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [ ]:
ecom[ecom["Country"] == "United Kingdom"].count()

InvoiceNo      495478
StockCode      495478
Description    494024
Quantity       495478
InvoiceDate    495478
UnitPrice      495478
CustomerID     361878
Country        495478
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [ ]:
# ecom.Total = (ecom.UnitPrice) * (ecom.Quantity)
ecom["Total"] = ecom["UnitPrice"]*ecom["Quantity"]
ecom.Total

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Length: 541909, dtype: float64

** Show total pending amount according to the Countries **

In [ ]:
ecom.groupby("Country")["Total"].sum()/1000

Country
Australia                137.077270
Austria                   10.154320
Bahrain                    0.548400
Belgium                   40.910960
Brazil                     1.143600
Canada                     3.666380
Channel Islands           20.086290
Cyprus                    12.946290
Czech Republic             0.707720
Denmark                   18.768140
EIRE                     263.276820
European Community         1.291750
Finland                   22.326740
France                   197.403900
Germany                  221.698210
Greece                     4.710520
Hong Kong                 10.117040
Iceland                    4.310000
Israel                     7.907820
Italy                     16.890510
Japan                     35.340620
Lebanon                    1.693880
Lithuania                  1.661060
Malta                      2.505470
Netherlands              284.661540
Norway                    35.163460
Poland                     7.213140
Portugal                  29.367020
RSA                        1.002310
Saudi Arabia               0.131170
Singapore                  9.120390
Spain                     54.774580
Sweden                    36.595910
Switzerland               56.385350
USA                        1.730920
United Arab Emirates       1.902280
United Kingdom          8187.806364
Unspecified                4.749790
Name: Total, dtype: float64

** Which Country spend least? **

In [ ]:
ecom.groupby("Country")["Total"].sum().sort_values()[:1]

Country
Saudi Arabia    131.17
Name: Total, dtype: float64

** Calculate average of spending according to country with apply function? **

In [ ]:
ecom.groupby("Country")["Total"].mean()

Country
Australia               108.877895
Austria                  25.322494
Bahrain                  28.863158
Belgium                  19.773301
Brazil                   35.737500
Canada                   24.280662
Channel Islands          26.499063
Cyprus                   20.813971
Czech Republic           23.590667
Denmark                  48.247147
EIRE                     32.122599
European Community       21.176230
Finland                  32.124806
France                   23.069288
Germany                  23.348943
Greece                   32.263836
Hong Kong                35.128611
Iceland                  23.681319
Israel                   26.625657
Italy                    21.034259
Japan                    98.716816
Lebanon                  37.641778
Lithuania                47.458857
Malta                    19.728110
Netherlands             120.059696
Norway                   32.378877
Poland                   21.152903
Portugal                 19.333127
RSA                      17.281207
Saudi Arabia             13.117000
Singapore                39.827031
Spain                    21.624390
Sweden                   79.211926
Switzerland              28.164510
USA                       5.948179
United Arab Emirates     27.974706
United Kingdom           16.525065
Unspecified              10.649753
Name: Total, dtype: float64

** Calculate average,min,max of spending according to country with agg function? **

In [ ]:
ecom_function = ecom.groupby("Country")["Total"].describe()

In [ ]:
ecom_function[["min", "max", "mean"]]

                            min        max        mean
Country
Australia               -425.00    1718.40  108.877895
Austria                  -21.25     360.00   25.322494
Bahrain                 -205.74     205.74   28.863158
Belgium                  -19.95     165.00   19.773301
Brazil                    15.00     175.20   35.737500
Canada                     2.50     550.94   24.280662
Channel Islands         -293.00     408.00   26.499063
Cyprus                  -320.69     320.69   20.813971
Czech Republic           -35.76      70.80   23.590667
Denmark                  -59.80     428.40   48.247147
EIRE                   -1917.00    2365.20   32.122599
European Community        -8.50      60.00   21.176230
Finland                  -80.00     551.20   32.124806
France                 -8322.12    4161.06   23.069288
Germany                 -599.50     876.00   23.348943
Greece                   -50.00     175.20   32.263836
Hong Kong              -2653.95    2653.95   35.128611
Iceland                    5.04     249.60   23.681319
Israel                  -136.00     350.40   26.625657
Italy                    -89.55     300.00   21.034259
Japan                  -1591.20    3794.40   98.716816
Lebanon                   10.20     153.00   37.641778
Lithuania                 13.20     122.40   47.458857
Malta                   -130.00     455.00   19.728110
Netherlands             -266.40    4992.00  120.059696
Norway                  -376.50     700.00   32.378877
Poland                   -39.80     120.00   21.152903
Portugal               -1241.98    1241.98   19.333127
RSA                        0.00      38.25   17.281207
Saudi Arabia             -14.75      19.80   13.117000
Singapore              -3949.32    3949.32   39.827031
Spain                  -1715.85    1350.00   21.624390
Sweden                 -1188.00    1188.00   79.211926
Switzerland             -179.00     360.00   28.164510
USA                      -74.88      81.36    5.948179
United Arab Emirates       3.48     153.00   27.974706
United Kingdom       -168469.60  168469.60   16.525065
Unspecified                0.19      69.36   10.649753

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [ ]:
ecom[ecom.Total == ecom.Total.max()]

       InvoiceNo StockCode  ...         Country     Total
540421    581483     23843  ...  United Kingdom  168469.6

[1 rows x 9 columns]

** How many people who live in Spain spend more than average Total ?**

In [ ]:
ecom[ecom.Country == "Spain"][ecom.Total >= ecom.Total.mean()].count()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

InvoiceNo      728
StockCode      728
Description    728
Quantity       728
InvoiceDate    728
UnitPrice      728
CustomerID     728
Country        728
Total          728
dtype: int64

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [ ]:
ecom["InvoiceDate2"] = pd.to_datetime(ecom["InvoiceDate"])
ecom.InvoiceDate2

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate2, Length: 541909, dtype: datetime64[ns]

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [ ]:
ecom["date"] = pd.to_datetime(ecom["InvoiceDate2"].dt.date)
ecom["date"]

0        2010-12-01
1        2010-12-01
2        2010-12-01
3        2010-12-01
4        2010-12-01
            ...
541904   2011-12-09
541905   2011-12-09
541906   2011-12-09
541907   2011-12-09
541908   2011-12-09
Name: date, Length: 541909, dtype: datetime64[ns]

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [ ]:
ecom["InvoiceDate2"] = pd.to_datetime(ecom["InvoiceDate"])
ecom.head()

  InvoiceNo StockCode  ...        InvoiceDate2       date
0    536365    85123A  ... 2010-12-01 08:26:00 2010-12-01
1    536365     71053  ... 2010-12-01 08:26:00 2010-12-01
2    536365    84406B  ... 2010-12-01 08:26:00 2010-12-01
3    536365    84029G  ... 2010-12-01 08:26:00 2010-12-01
4    536365    84029E  ... 2010-12-01 08:26:00 2010-12-01

[5 rows x 11 columns]

In [ ]:
ecom.drop(columns= ["InvoiceDate","InvoiceDate2"])
# ecom.drop(["InvoiceDate","InvoiceDate2"], axis=1)
ecom.head()

  InvoiceNo StockCode  ...        InvoiceDate2       date
0    536365    85123A  ... 2010-12-01 08:26:00 2010-12-01
1    536365     71053  ... 2010-12-01 08:26:00 2010-12-01
2    536365    84406B  ... 2010-12-01 08:26:00 2010-12-01
3    536365    84029G  ... 2010-12-01 08:26:00 2010-12-01
4    536365    84029E  ... 2010-12-01 08:26:00 2010-12-01

[5 rows x 11 columns]

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [ ]:
ecom.StockCode[:5].str.replace('A','').str.replace('B','').str.replace('G','').str.replace('E','')
# ecom["StockCode"]=ecom["StockCode"].str.extract('(\d{0,9})')
# ecom["StockCode"].head()

0    85123
1    71053
2    84406
3    84029
4    84029
Name: StockCode, dtype: object

** take only Total and date columns with loc and craete a new df named ecom2 **

In [ ]:
ecom2 = ecom[["Total", "date"]]
ecom2

        Total       date
0       15.30 2010-12-01
1       20.34 2010-12-01
2       22.00 2010-12-01
3       20.34 2010-12-01
4       20.34 2010-12-01
...       ...        ...
541904  10.20 2011-12-09
541905  12.60 2011-12-09
541906  16.60 2011-12-09
541907  16.60 2011-12-09
541908  14.85 2011-12-09

[541909 rows x 2 columns]

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [ ]:
# ecom3 = ecom[["InvoiceNo", "CustomerID", "Total"]]
ecom3 = ecom.iloc[:,[0,6,8]]
ecom3

       InvoiceNo  CustomerID  Total
0         536365     17850.0  15.30
1         536365     17850.0  20.34
2         536365     17850.0  22.00
3         536365     17850.0  20.34
4         536365     17850.0  20.34
...          ...         ...    ...
541904    581587     12680.0  10.20
541905    581587     12680.0  12.60
541906    581587     12680.0  16.60
541907    581587     12680.0  16.60
541908    581587     12680.0  14.85

[541909 rows x 3 columns]

** Combine ecom2 and ecom3 with concat **

In [ ]:
pd.concat([ecom2, ecom3], axis=1)

        Total       date InvoiceNo  CustomerID  Total
0       15.30 2010-12-01    536365     17850.0  15.30
1       20.34 2010-12-01    536365     17850.0  20.34
2       22.00 2010-12-01    536365     17850.0  22.00
3       20.34 2010-12-01    536365     17850.0  20.34
4       20.34 2010-12-01    536365     17850.0  20.34
...       ...        ...       ...         ...    ...
541904  10.20 2011-12-09    581587     12680.0  10.20
541905  12.60 2011-12-09    581587     12680.0  12.60
541906  16.60 2011-12-09    581587     12680.0  16.60
541907  16.60 2011-12-09    581587     12680.0  16.60
541908  14.85 2011-12-09    581587     12680.0  14.85

[541909 rows x 5 columns]

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [ ]:
pd.merge(ecom2[0:100], ecom3[0:100])

     Total       date InvoiceNo  CustomerID
0     15.3 2010-12-01    536365     17850.0
1     15.3 2010-12-01    536373     17850.0
2     15.3 2010-12-01    536373     17850.0
3     15.3 2010-12-01    536375     17850.0
4     15.3 2010-12-01    536375     17850.0
..     ...        ...       ...         ...
395   13.2 2010-12-01    536378     14688.0
396   13.2 2010-12-01    536378     14688.0
397   13.2 2010-12-01    536378     14688.0
398   13.2 2010-12-01    536378     14688.0
399   13.2 2010-12-01    536378     14688.0

[400 rows x 4 columns]

** Combine ecom2 and ecom3 with join (inner)**

In [ ]:
ecom2.join(ecom3, how="inner", lsuffix='_left', rsuffix='_right')

        Total_left       date InvoiceNo  CustomerID  Total_right
0            15.30 2010-12-01    536365     17850.0        15.30
1            20.34 2010-12-01    536365     17850.0        20.34
2            22.00 2010-12-01    536365     17850.0        22.00
3            20.34 2010-12-01    536365     17850.0        20.34
4            20.34 2010-12-01    536365     17850.0        20.34
...            ...        ...       ...         ...          ...
541904       10.20 2011-12-09    581587     12680.0        10.20
541905       12.60 2011-12-09    581587     12680.0        12.60
541906       16.60 2011-12-09    581587     12680.0        16.60
541907       16.60 2011-12-09    581587     12680.0        16.60
541908       14.85 2011-12-09    581587     12680.0        14.85

[541909 rows x 5 columns]

# Congrats!