___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Pandas Lesson, Session - 10</p><h1>

<h1><p style="text-align: center;">Working with Text and Time Data</p><h1>

# Working with Text Data

## String Methods
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

https://www.w3schools.com/python/python_ref_string.asp

In [115]:
import numpy as np
import pandas as pd
import seaborn as sns

In [116]:
df = pd.read_excel("text_exercise.XLSX")
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          8 non-null      object
 1   staff       8 non-null      object
 2   department  8 non-null      object
 3   job         8 non-null      object
 4   salary      8 non-null      object
 5   age         8 non-null      object
dtypes: object(6)
memory usage: 512.0+ bytes

___

- **lower()		  =>** Converts a string into lower case
- **upper()		  =>** Converts a string into upper case
- **capitalize()  =>** Converts the first character to upper case
- **title()		  =>** Converts the first character of each word to upper case
- **swapcase()    =>** Swaps the case lower/upper

___

In [118]:
df.staff.str.lower()

0         tom blue
1       john black
2    micheal brown
3     jason walker
4       alex green
5     oscar smi̇th
6      adrian star
7     albert simon
Name: staff, dtype: object

In [119]:
df.staff.str.upper()

0         TOM BLUE
1       JOHN BLACK
2    MICHEAL BROWN
3     JASON WALKER
4       ALEX GREEN
5      OSCAR SMİTH
6      ADRIAN STAR
7     ALBERT SIMON
Name: staff, dtype: object

In [120]:
df.staff.str.title() #Sadece baş harfleri büyük yapar

0         Tom Blue
1       John Black
2    Micheal Brown
3     Jason Walker
4       Alex Green
5     Oscar Smi̇th
6      Adrian Star
7     Albert Simon
Name: staff, dtype: object

In [121]:
df.staff.str.capitalize() #Kaç kelime olursa olsun sadece ilk kelime büyük yapar

0         Tom blue
1       John black
2    Micheal brown
3     Jason walker
4       Alex green
5     Oscar smi̇th
6      Adrian star
7     Albert simon
Name: staff, dtype: object

In [122]:
df.staff.str.swapcase()

0         tOM blue
1       john black
2    mICHEAL bROWN
3     JASON WALKER
4       aLEX gREEN
5     oscar smi̇th
6      aDRIAN star
7     aLBERT SIMON
Name: staff, dtype: object

___

- **isalpha()     =>** Returns True if all characters in the string are in the alphabet
- **isnumeric()   =>** Returns True if all characters in the string are numeric
- **isalnum()     =>** Returns True if all characters in the string are alphanumeric
- **endswith()	=>** Returns true if the string ends with the specified value
- **startswith()	=>** Returns true if the string starts with the specified value
- **contains()	=>** Returns a Boolean value True for each element if the substring contains in the element, else False.

___

In [123]:
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         IT      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         IT      data scientist   "$135,000"  40
7  E0006   Albert simon         IT      data scientist  125000dolar  35

In [124]:
df.job.str.isalpha() #Kelimeler arasında boşluk yok mu

0     True
1     True
2    False
3     True
4    False
5    False
6    False
7    False
Name: job, dtype: bool

In [125]:
df.age.str.isnumeric() #Değerler nümeric mi. Ama hatalı oldu

0      NaN
1      NaN
2      NaN
3      NaN
4    False
5      NaN
6      NaN
7      NaN
Name: age, dtype: object

In [126]:
df.age.astype(str).str.isnumeric() #İlgili sütundaki tüm değerleri önce nümeriğe çevirdik. Şimdi oldu

0     True
1     True
2     True
3     True
4    False
5     True
6     True
7     True
Name: age, dtype: bool

In [127]:
df.salary

0     "$150,000"
1     "$180,000"
2     "$150,000"
3    130000dolar
4     "$110,000"
5     "$120,000"
6     "$135,000"
7    125000dolar
Name: salary, dtype: object

In [128]:
df.salary.str.isalnum() #Değerler nümeric mi?

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
Name: salary, dtype: bool

In [129]:
df.job

0               manager
1               manager
2        data scientist
3             recruiter
4     backend developer
5    frontend developer
6        data scientist
7        data scientist
Name: job, dtype: object

In [130]:
df.job.str.startswith("data") # "date" kelimesi ile başlayanlar. Büyük ve küçük harflere duyarlıdır.

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: job, dtype: bool

In [131]:
df.job.str.endswith("per") #"per" ile bitenler

0    False
1    False
2    False
3    False
4     True
5     True
6    False
7    False
Name: job, dtype: bool

In [132]:
df.job.str.contains("data") #içerisinde "data" ifadesi olanlar

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: job, dtype: bool

In [133]:
df.salary

0     "$150,000"
1     "$180,000"
2     "$150,000"
3    130000dolar
4     "$110,000"
5     "$120,000"
6     "$135,000"
7    125000dolar
Name: salary, dtype: object

In [134]:
df.salary.str.contains(r"[a-z]") #içerisinde a-z arasında harf içeren bir değer var mı? dolar yazanlar bunu sağladığı için True oldu. r:regest anlamında

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7     True
Name: salary, dtype: bool

we can use these string methods which returning boolean expression for creating condition and so selecting relative rows

In [135]:
df[df.job.str.contains("data")] #herhangi bir yerde date ifadesi olan bütün satırları getir

      id          staff department             job       salary age
2  E0001  Micheal Brown         IT  data scientist   "$150,000"  35
6  E0005    Adrian STAR         IT  data scientist   "$135,000"  40
7  E0006   Albert simon         IT  data scientist  125000dolar  35

In [136]:
df.loc[df.job.str.contains("data"), "department"] = "DS" #içerisinde data yazan satırlarda departman sütununda IT yazan yerlerde DS yaz

In [137]:
df

      id          staff department                 job       salary age
0  M0001       Tom BLUE         HR             manager   "$150,000"  52
1  M0002     JOHN BLACK         IT             manager   "$180,000"  48
2  E0001  Micheal Brown         DS      data scientist   "$150,000"  35
3  E0002   jason walker         HR           recruiter  130000dolar  38
4  E0003     Alex Green         IT   backend developer   "$110,000"   -
5  E0004    OSCAR SMİTH         IT  frontend developer   "$120,000"  32
6  E0005    Adrian STAR         DS      data scientist   "$135,000"  40
7  E0006   Albert simon         DS      data scientist  125000dolar  35

In [170]:
df.loc[df.job.str.contains("data"), "department"] = "IT"
df

      id department  ...                  Skills  departmant
0  M0001         HR  ...                      []         NaN
1  M0002         IT  ...                Java,C++         NaN
2  E0001         IT  ...  [Python, Tableau, SQL]          IT
3  E0002         HR  ...                      []         NaN
4  E0003         IT  ...         [React, Django]         NaN
5  E0004         IT  ...    [JavaScript, Python]         NaN
6  E0005         IT  ...                [R, SQL]          IT
7  E0006         IT  ...           [SQL, Python]          IT

[8 rows x 11 columns]

___

- **replace() =>** Returns a string where a specified value is replaced with a specified value

- **split()	=>** Splits the string at the specified separator, and returns a list

- **strip()	=>** Returns a trimmed version of the string

- **find()	=>** Searches the string for a specified value and returns the position of where it was found

- **findall()	=>** Returns a list of all occurrence of the pattern.

- **join()	=>** Converts the elements of an iterable into a string

___

In [139]:
df

      id          staff department  ...       salary age depertmant
0  M0001       Tom BLUE         HR  ...   "$150,000"  52        NaN
1  M0002     JOHN BLACK         IT  ...   "$180,000"  48        NaN
2  E0001  Micheal Brown         DS  ...   "$150,000"  35         IT
3  E0002   jason walker         HR  ...  130000dolar  38        NaN
4  E0003     Alex Green         IT  ...   "$110,000"   -        NaN
5  E0004    OSCAR SMİTH         IT  ...   "$120,000"  32        NaN
6  E0005    Adrian STAR         DS  ...   "$135,000"  40         IT
7  E0006   Albert simon         DS  ...  125000dolar  35         IT

[8 rows x 7 columns]

In [140]:
df.salary.str.strip("\"")  #salary sütunundaki " işaretlerinden kurtulmak için

0       $150,000
1       $180,000
2       $150,000
3    130000dolar
4       $110,000
5       $120,000
6       $135,000
7    125000dolar
Name: salary, dtype: object

In [141]:
df.salary.str.strip("\"$dolar") # " $ ve dolar yazılan şeylerin hepsini sildik

0    150,000
1    180,000
2    150,000
3     130000
4    110,000
5    120,000
6    135,000
7     125000
Name: salary, dtype: object

In [142]:
df.salary.str.strip("\"$dolar").str.replace(",", "")

0    150000
1    180000
2    150000
3    130000
4    110000
5    120000
6    135000
7    125000
Name: salary, dtype: object

In [143]:
df.salary.str.strip("\"$dolar").str.replace(",", "").astype("float")

0    150000.0
1    180000.0
2    150000.0
3    130000.0
4    110000.0
5    120000.0
6    135000.0
7    125000.0
Name: salary, dtype: float64

In [144]:
df.salary = df.salary.str.strip("\"$dolar").str.replace(",", "").astype("float") #kalıcı olarak değiştirdik

In [145]:
df.salary

0    150000.0
1    180000.0
2    150000.0
3    130000.0
4    110000.0
5    120000.0
6    135000.0
7    125000.0
Name: salary, dtype: float64

In [146]:
df.age

0    52
1    48
2    35
3    38
4     -
5    32
6    40
7    35
Name: age, dtype: object

In [147]:
df.age.replace("-", np.nan)

0    52.0
1    48.0
2    35.0
3    38.0
4     NaN
5    32.0
6    40.0
7    35.0
Name: age, dtype: float64

In [148]:
df.age.str.replace("-", np.nan) #Bu hta verir. Çünkü değerler string değil

TypeError: ignored

In [149]:
df["age"] = df.age.replace("-", np.nan) #kalıcı olarak değiştirdik
df.age

0    52.0
1    48.0
2    35.0
3    38.0
4     NaN
5    32.0
6    40.0
7    35.0
Name: age, dtype: float64

**str.replace() vs .replace()**

- **Purpose:** Use **str.replace** for substring replacements on a single string column, and **replace** for any general replacement on one or more columns.

- **Usage:** **str.replace** can replace one thing at a time. **replace** lets you perform multiple independent replacements, i.e., replace many things at once.

- **Default behavior:** **str.replace** enables regex replacement by default. **replace** only performs a full match unless the regex=True switch is used.

In [150]:
df.staff.str.title().str.split() #İsim ve soy isimleri böldü

0         [Tom, Blue]
1       [John, Black]
2    [Micheal, Brown]
3     [Jason, Walker]
4       [Alex, Green]
5     [Oscar, Smi̇th]
6      [Adrian, Star]
7     [Albert, Simon]
Name: staff, dtype: object

In [152]:
df.staff.str.title().str.split().str[0] #sadece isimleri getirdi

0        Tom
1       John
2    Micheal
3      Jason
4       Alex
5      Oscar
6     Adrian
7     Albert
Name: staff, dtype: object

In [153]:
df["name"] = df.staff.str.title().str.split().str[0] #Name sütununu böldük
df["sir_name"] = df.staff.str.title().str.split().str[1] #sir_name diye sütun oöuşturup isimleri buraya aldık
df.drop("staff", axis=1, inplace=True) #Eskisini siler

In [172]:
df

      id department  ...                  Skills  departmant
0  M0001         HR  ...                      []         NaN
1  M0002         IT  ...                Java,C++         NaN
2  E0001         IT  ...  [Python, Tableau, SQL]          IT
3  E0002         HR  ...                      []         NaN
4  E0003         IT  ...         [React, Django]         NaN
5  E0004         IT  ...    [JavaScript, Python]         NaN
6  E0005         IT  ...                [R, SQL]          IT
7  E0006         IT  ...           [SQL, Python]          IT

[8 rows x 11 columns]

In [155]:
df.job.str.find("s") #s olanlara index numarasını verdi olmayanlara -1 verdi

0   -1
1   -1
2    5
3   -1
4   -1
5   -1
6    5
7    5
Name: job, dtype: int64

In [156]:
df.job.str.findall("s")

0        []
1        []
2    [s, s]
3        []
4        []
5        []
6    [s, s]
7    [s, s]
Name: job, dtype: object

In [157]:
df.job.str.findall("s").apply(len) #kaç tane s harfi geçiyor. Veya bir kelime de yazabiliriz

0    0
1    0
2    2
3    0
4    0
5    0
6    2
7    2
Name: job, dtype: int64

In [171]:
df["skills"] = [[],["Java","C++"],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df["Skills"] = [[],[],["Python","Tableau","SQL"],[],["React","Django"],["JavaScript","Python"],["R","SQL"],["SQL","Python"]]
df.loc[1, "Skills"] = "Java,C++"
df #İki yeni sütun ekledik

      id department  ...                  Skills  departmant
0  M0001         HR  ...                      []         NaN
1  M0002         IT  ...                Java,C++         NaN
2  E0001         IT  ...  [Python, Tableau, SQL]          IT
3  E0002         HR  ...                      []         NaN
4  E0003         IT  ...         [React, Django]         NaN
5  E0004         IT  ...    [JavaScript, Python]         NaN
6  E0005         IT  ...                [R, SQL]          IT
7  E0006         IT  ...           [SQL, Python]          IT

[8 rows x 11 columns]

In [159]:
df.skills.str.join(",") #skills sütununun her bir kelimesini böldük

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: skills, dtype: object

In [160]:
df.Skills.str.join(",") #Java,C++ ifadesini istediğimiz gibi bölmedi. Çünkü bu değer liste değil. Böyle durumda aşağıdaki gibi yapmalıyız.

0
1       J,a,v,a,,,C,+,+
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [197]:
df.Skills = df.Skills.apply(lambda x: ",".join(x) if type(x) == list else x) #apply uygula demek. Buradaki x her bir satırı ifade eder. 
df.Skills                                                                #x liste ise join yaparak çıkar. Değilse olduğu gibi bırak

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [217]:
[ ",".join(x) if type(x) == list else x for x in df.Skills] #Bu şekilde de yapılabilir

['',
 'Java,C++',
 'Python,Tableau,SQL',
 '',
 'React,Django',
 'JavaScript,Python',
 'R,SQL',
 'SQL,Python']

In [218]:
df

      id department  ...              Skills  departmant
0  M0001         HR  ...                             NaN
1  M0002         IT  ...            Java,C++         NaN
2  E0001         IT  ...  Python,Tableau,SQL          IT
3  E0002         HR  ...                             NaN
4  E0003         IT  ...        React,Django         NaN
5  E0004         IT  ...   JavaScript,Python         NaN
6  E0005         IT  ...               R,SQL          IT
7  E0006         IT  ...          SQL,Python          IT

[8 rows x 11 columns]

## Dummy Operation

### get_dummies()


1. pd.get_dummies(df/df["col_name"])


2. df["col_name"].get_dummies(sep = ",")

In [174]:
df.department

0    HR
1    IT
2    IT
3    HR
4    IT
5    IT
6    IT
7    IT
Name: department, dtype: object

In [175]:
pd.get_dummies(df.department) #ilgili sütundaki değerlerin sayısını lojik değerlerle ifade ettik

   HR  IT
0   1   0
1   0   1
2   0   1
3   1   0
4   0   1
5   0   1
6   0   1
7   0   1

In [176]:
pd.get_dummies(df.department, drop_first=True)

   IT
0   0
1   1
2   1
3   0
4   1
5   1
6   1
7   1

In [198]:
df.Skills

0
1              Java,C++
2    Python,Tableau,SQL
3
4          React,Django
5     JavaScript,Python
6                 R,SQL
7            SQL,Python
Name: Skills, dtype: object

In [199]:
df.Skills.str.get_dummies(sep=",")

   C++  Django  Java  JavaScript  Python  R  React  SQL  Tableau
0    0       0     0           0       0  0      0    0        0
1    1       0     1           0       0  0      0    0        0
2    0       0     0           0       1  0      0    1        1
3    0       0     0           0       0  0      0    0        0
4    0       1     0           0       0  0      1    0        0
5    0       0     0           1       1  0      0    0        0
6    0       0     0           0       0  1      0    1        0
7    0       0     0           0       1  0      0    1        0

In [200]:
df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

   skills_C++  skills_Django  ...  skills_SQL  skills_Tableau
0           0              0  ...           0               0
1           1              0  ...           0               0
2           0              0  ...           1               1
3           0              0  ...           0               0
4           0              1  ...           0               0
5           0              0  ...           0               0
6           0              0  ...           1               0
7           0              0  ...           1               0

[8 rows x 9 columns]

In [209]:
skills_dummy = df.Skills.str.get_dummies(sep=",").add_prefix("skills_")

In [210]:
df_final = df[["id", "department", "job", "salary", "Skills"]]
df_final

      id department                 job    salary              Skills
0  M0001         HR             manager  150000.0
1  M0002         IT             manager  180000.0            Java,C++
2  E0001         IT      data scientist  150000.0  Python,Tableau,SQL
3  E0002         HR           recruiter  130000.0
4  E0003         IT   backend developer  110000.0        React,Django
5  E0004         IT  frontend developer  120000.0   JavaScript,Python
6  E0005         IT      data scientist  135000.0               R,SQL
7  E0006         IT      data scientist  125000.0          SQL,Python

In [211]:
df_final.join(skills_dummy)

      id department  ... skills_SQL  skills_Tableau
0  M0001         HR  ...          0               0
1  M0002         IT  ...          0               0
2  E0001         IT  ...          1               1
3  E0002         HR  ...          0               0
4  E0003         IT  ...          0               0
5  E0004         IT  ...          0               0
6  E0005         IT  ...          1               0
7  E0006         IT  ...          1               0

[8 rows x 14 columns]

In [212]:
df_final = df_final.join(skills_dummy)
df_final.drop("Skills", axis=1, inplace=True)
df_final

      id department  ... skills_SQL  skills_Tableau
0  M0001         HR  ...          0               0
1  M0002         IT  ...          0               0
2  E0001         IT  ...          1               1
3  E0002         HR  ...          0               0
4  E0003         IT  ...          0               0
5  E0004         IT  ...          0               0
6  E0005         IT  ...          1               0
7  E0006         IT  ...          1               0

[8 rows x 13 columns]

In [213]:
df_final.drop("id", axis=1, inplace=True)
df_final

  department                 job  ...  skills_SQL  skills_Tableau
0         HR             manager  ...           0               0
1         IT             manager  ...           0               0
2         IT      data scientist  ...           1               1
3         HR           recruiter  ...           0               0
4         IT   backend developer  ...           0               0
5         IT  frontend developer  ...           0               0
6         IT      data scientist  ...           1               0
7         IT      data scientist  ...           1               0

[8 rows x 12 columns]

In [214]:
pd.get_dummies(df_final, drop_first=True) #İlk sütunu da düşürelim ve sadece sayısal sütunlar kalsın

     salary  skills_C++  ...  job_manager  job_recruiter
0  150000.0           0  ...            1              0
1  180000.0           1  ...            1              0
2  150000.0           0  ...            0              0
3  130000.0           0  ...            0              1
4  110000.0           0  ...            0              0
5  120000.0           0  ...            0              0
6  135000.0           0  ...            0              0
7  125000.0           0  ...            0              0

[8 rows x 15 columns]

In [215]:
df_final = pd.get_dummies(df_final, drop_first=True)
df_final

     salary  skills_C++  ...  job_manager  job_recruiter
0  150000.0           0  ...            1              0
1  180000.0           1  ...            1              0
2  150000.0           0  ...            0              0
3  130000.0           0  ...            0              1
4  110000.0           0  ...            0              0
5  120000.0           0  ...            0              0
6  135000.0           0  ...            0              0
7  125000.0           0  ...            0              0

[8 rows x 15 columns]

# Working with Time Data

## pd.to_datetime()
https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [219]:
df = pd.read_csv("time_exercise.csv")
df.head()

   id_product  order_date  product_quantity  product_price  entry_date
0         401  2021-01-23               1.0     541.487603  2018-12-04
1         416  2020-04-02               1.0     131.181818  2018-12-04
2         717  2019-03-10               1.0    2035.488500  2018-12-04
3         778  2019-12-27               1.0     335.988000  2018-12-04
4         826  2020-02-19               1.0     342.292302  2018-12-04

In [220]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    object
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 35.7+ KB

In [221]:
df.order_date #object cinsinden gerçek datadaki değeri verecek. Yani string bir ifade

0      2021-01-23
1      2020-04-02
2      2019-03-10
3      2019-12-27
4      2020-02-19
          ...
906    2020-11-24
907    2020-11-24
908    2020-11-22
909    2021-01-26
910    2020-12-06
Name: order_date, Length: 911, dtype: object

In [222]:
pd.to_datetime(df.order_date) #datetime64[ns] cinsine çevirir

0     2021-01-23
1     2020-04-02
2     2019-03-10
3     2019-12-27
4     2020-02-19
         ...
906   2020-11-24
907   2020-11-24
908   2020-11-22
909   2021-01-26
910   2020-12-06
Name: order_date, Length: 911, dtype: datetime64[ns]

In [223]:
df["entry_date"] = pd.to_datetime(df["entry_date"])
df["order_date"] = pd.to_datetime(df["order_date"])

In [224]:
df.head()

   id_product order_date  product_quantity  product_price entry_date
0         401 2021-01-23               1.0     541.487603 2018-12-04
1         416 2020-04-02               1.0     131.181818 2018-12-04
2         717 2019-03-10               1.0    2035.488500 2018-12-04
3         778 2019-12-27               1.0     335.988000 2018-12-04
4         826 2020-02-19               1.0     342.292302 2018-12-04

In [226]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911 entries, 0 to 910
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_product        911 non-null    int64
 1   order_date        911 non-null    datetime64[ns]
 2   product_quantity  911 non-null    float64
 3   product_price     911 non-null    float64
 4   entry_date        911 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 35.7 KB

In [227]:
df.entry_date.min()

Timestamp('2018-12-04 00:00:00')

In [228]:
df.entry_date.max()

Timestamp('2020-11-26 00:00:00')

----------------------------------------------------------------------------------------------------------------------------------------------------------

In [229]:
a = pd.Series(["15-03-2020", "18-05-2019", "24-07-2018"])
a

0    15-03-2020
1    18-05-2019
2    24-07-2018
dtype: object

In [230]:
pd.to_datetime(a, format = "%d-%m-%Y")

0   2020-03-15
1   2019-05-18
2   2018-07-24
dtype: datetime64[ns]

In [231]:
pd.to_datetime(a, format = "%d-%m-%Y").min()

Timestamp('2018-07-24 00:00:00')

------------------------------------------------------------------------------------------------------------------------------------------------------------------

## Series.dt()
Accessor object for datetimelike properties of the Series values.

https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html

In [232]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [233]:
df.entry_date.dt.year #Sadece yıllar gelir

0      2018
1      2018
2      2018
3      2018
4      2018
       ...
906    2020
907    2020
908    2020
909    2020
910    2020
Name: entry_date, Length: 911, dtype: int64

In [237]:
df.entry_date.dt.month #Sadece aylar gelir

0      12
1      12
2      12
3      12
4      12
       ..
906    10
907    10
908    11
909    11
910    11
Name: entry_date, Length: 911, dtype: int64

In [ ]:
# it can be date, year, quarter, month, week, day, weekday, dayofweek, hour, minute, second, microsecond

## datetime module
The datetime module supplies classes for manipulating dates and times.

https://docs.python.org/3/library/datetime.html

### class datetime.datetime

A combination of a date and a time. Attributes: year, month, day, hour, minute, second, microsecond, and tzinfo.

In [238]:
from datetime import datetime #modül ve class ismi aynı

In [256]:
datetime.now() #Şu anki zaman ifadesi
print(datetime.now())

2022-01-31 19:44:00.522617

In [245]:
datetime.today()

datetime.datetime(2022, 1, 31, 19, 41, 22, 414839)

In [249]:
current_datetime = datetime.today() #şu anki değerleri sabitledik

In [250]:
# it can be date, year, month, day, weekday, isoweekday, hour, minute, second, microsecond, tzinfo
current_datetime.date()

datetime.date(2022, 1, 31)

In [251]:
current_datetime.year

2022

In [252]:
current_datetime.weekday() #Haftanın hangi günü. Bu 0 dan başlar.

0

In [255]:
current_datetime.isoweekday() #Haftanın hangi günü. Bu 1 den başlar.

1

### class datetime.timedelta

A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [259]:
from datetime import timedelta #Zaman farkını ölçmek için kullanırız

In [260]:
timedelta(days=2)

datetime.timedelta(days=2)

In [261]:
print(timedelta(days=2))

2 days, 0:00:00

In [262]:
print(current_datetime)

2022-01-31 19:41:53.183545

In [263]:
two_days_before = current_datetime - timedelta(days=2) #İki gün önceye git
two_days_before

datetime.datetime(2022, 1, 29, 19, 41, 53, 183545)

In [264]:
current_datetime + timedelta(weeks=2, days=3, hours=4, minutes=10) #iki hafta, 3 gün, 4 saat, 10 dakika ileri git

datetime.datetime(2022, 2, 17, 23, 51, 53, 183545)

In [265]:
print(f"{'current_date': <15}", current_datetime)
print(f"{'plus': <15}", timedelta(weeks=2, hours=4, minutes=10))
print(f"{'total': <15}", current_datetime+timedelta(weeks=2, days=3, hours=4, minutes=10))

current_date    2022-01-31 19:41:53.183545
plus            14 days, 4:10:00
total           2022-02-17 23:51:53.183545

### strftime()

Converting from date/datetime/timedelta object to string type

https://strftime.org/

In [266]:
print(current_datetime)

2022-01-31 19:41:53.183545

In [267]:
current_datetime.strftime("%Y") #String olarak yılı gösterir

'2022'

In [268]:
year = current_datetime.strftime("%Y")
print("year:", year)
month = current_datetime.strftime("%m")
print("month:", month)
day = current_datetime.strftime("%d")
print("day:", day)
time = current_datetime.strftime("%H:%M:%S") #Aradaki : işareti istediğimiz gibi koyabiliriz.
print("time:", time)
date_time = current_datetime.strftime("%m/%d/%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2022
month: 01
day: 31
time: 19:41:53
date and time: 01/31/2022, 19:41:53

### strptime()

Converting from string type to datetime object

In [270]:
date_string = "21 June, 2018"
date_string

'21 June, 2018'

In [272]:
datetime.strptime(date_string, "%d %B, %Y") #Yukardaki string ifadeyi tarih formatına çevir. Ama yukardaki format gibi yazmamız gerekiyor

datetime.datetime(2018, 6, 21, 0, 0)

In [273]:
pd.to_datetime(date_string)

Timestamp('2018-06-21 00:00:00')

In [274]:
datetime_object = datetime.strptime(date_string, "%d %B, %Y")
datetime_object

datetime.datetime(2018, 6, 21, 0, 0)

In [275]:
datetime_object.year

2018

In [276]:
datetime_object.day

21

### Operation with datetime object

**lets detect the time between first order date and entry date for each product**

In [277]:
df

     id_product order_date  product_quantity  product_price entry_date
0           401 2021-01-23               1.0     541.487603 2018-12-04
1           416 2020-04-02               1.0     131.181818 2018-12-04
2           717 2019-03-10               1.0    2035.488500 2018-12-04
3           778 2019-12-27               1.0     335.988000 2018-12-04
4           826 2020-02-19               1.0     342.292302 2018-12-04
..          ...        ...               ...            ...        ...
906     1536842 2020-11-24               1.0    1186.776860 2020-10-07
907     1536842 2020-11-24               1.0    1186.776860 2020-10-07
908     1536887 2020-11-22               1.0       0.000000 2020-11-13
909     1536952 2021-01-26               1.0     988.429752 2020-11-24
910     1536974 2020-12-06               1.0       0.000000 2020-11-26

[911 rows x 5 columns]

In [278]:
df.order_date - df.entry_date #Sisteme girdikten ne zaman sonra o product satılmış

0     781 days
1     485 days
2      96 days
3     388 days
4     442 days
        ...
906    48 days
907    48 days
908     9 days
909    63 days
910    10 days
Length: 911, dtype: timedelta64[ns]

In [279]:
df["passing_time_to_firstsale"] = df["order_date"] - df["entry_date"] #Yeni bir sütun ekledik

In [280]:
df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int) #Yukardaki sonucu int olarak yaptık

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int64

In [282]:
df["passing_time_to_firstsale"] = df["passing_time_to_firstsale"].astype("str").str.split(" ").str[0].astype(int) #Df e kalıcı olarak bu sütunu ekledik

In [283]:
df.groupby("id_product")["passing_time_to_firstsale"].min() #id_product numaraları ile birlikte o numaralı ürün ilk(min) ne zaman süre sonra satılmış
                                                            #mesela 401 numaralı ilk 781 gün sonra satılmış

id_product
401        781
416        485
717         96
778        388
826        442
          ...
1536841     38
1536842     48
1536887      9
1536952     63
1536974     10
Name: passing_time_to_firstsale, Length: 498, dtype: int64

In [285]:
df.groupby("id_product")[["passing_time_to_firstsale"]].min() #Yukardaki DataFrame olarak gözüktü

            passing_time_to_firstsale
id_product
401                               781
416                               485
717                                96
778                               388
826                               442
...                               ...
1536841                            38
1536842                            48
1536887                             9
1536952                            63
1536974                            10

[498 rows x 1 columns]

In [288]:
df.groupby("id_product")["passing_time_to_firstsale"].transform(min)

0      781
1      485
2       96
3      388
4      442
      ...
906     48
907     48
908      9
909     63
910     10
Name: passing_time_to_firstsale, Length: 911, dtype: int64

In [289]:
df["passing_time_to_firstsale"]=df.groupby("id_product")["passing_time_to_firstsale"].transform(min)
df

     id_product order_date  ...  entry_date  passing_time_to_firstsale
0           401 2021-01-23  ...  2018-12-04                        781
1           416 2020-04-02  ...  2018-12-04                        485
2           717 2019-03-10  ...  2018-12-04                         96
3           778 2019-12-27  ...  2018-12-04                        388
4           826 2020-02-19  ...  2018-12-04                        442
..          ...        ...  ...         ...                        ...
906     1536842 2020-11-24  ...  2020-10-07                         48
907     1536842 2020-11-24  ...  2020-10-07                         48
908     1536887 2020-11-22  ...  2020-11-13                          9
909     1536952 2021-01-26  ...  2020-11-24                         63
910     1536974 2020-12-06  ...  2020-11-26                         10

[911 rows x 6 columns]

**lets detect the time between last order date and today for each product**

# End of The Session